.cool-tag-wrap .selectize-control.default.multi .selectize-input > div {
  border: none;
  border-radius: 0;
  background: none;
  text-shadow: none;
  box-shadow: none;
}
.cool-tag-wrap .selectize-dropdown, .selectize-input, .selectize-input input {
  line-height: 22px;
}
.cool-tag-wrap .selectize-control.multi .selectize-input > div,
.cool-tag-wrap .selectize-control.plugin-remove_button [data-value]{
  padding: 0;
  padding-right: 0 !important;
  margin: 0 8px 3px 0;
  background: none;
}
.cool-tag-wrap .selectize-control.multi .selectize-input.has-items,
.cool-tag-wrap .selectize-input {
  padding: 4px 8px 1px;
  border-radius: 0;
}
.cool-tag-wrap .selectize-input > input {
  min-width: 120px;
}
.cool-tag-wrap .selectize-control.plugin-remove_button [data-value] .remove,
.cool-tag-wrap .selectize-control.plugin-remove_button [data-value] .remove:hover {
  border-left: none;
  padding: 0;
  background: none;
  right: 2px;
}
.cool-tag-wrap {
  width: 556px;
}
.cool-tag {
  float: left;
  margin-right: 8px;
  margin-bottom: 5px;
}
.cool-tag-del {
  margin-bottom: 0;
}
.cool-tag-left {
  background: url(../image/cool-tag/left.png) no-repeat 0 0;
  width: 15px;
  height: 22px;
  float: left;
}
.cool-tag-middle {
  background: url(../image/cool-tag/middle.png) repeat-x 0 0;
  height: 22px;
  line-height: 22px;
  float: left;
}
.cool-tag-del .cool-tag-middle {
  padding-right: 9px;
}
.cool-tag-default .cool-tag-middle em,
.cool-tag-disabled .cool-tag-middle em {
  font-style: normal;
  height: 22px;
  line-height: 22px;
  background: url(../image/cool-tag/add.png) no-repeat 0 50%;
  padding-left: 12px;
  display: block;
  cursor: pointer;
  color: #303030;
}
.cool-tag-disabled .cool-tag-middle em {
  background: url(../image/cool-tag/gray.png) no-repeat 0 50%;
  color: #999999;
}
.cool-tag-right {
  background: url(../image/cool-tag/right.png) no-repeat 0 0;
  width: 11px;
  height: 22px;
  float: left;
}

.cool-tag-for {
  margin-top: 3px;
}
.cool-tag-for-table {
  float: left;
  line-height: 22px;
  margin-right: 5px;
}
.cool-tag-for-content {
  float: left;
  width: 487px;
}