.notice-top {
  margin-top: 20px;
}
.notice-title {
  float: left;
  font-size: 24px;
  line-height: 24px;
}
.notice-title em {
  font-style: normal;
  font-size: 12px;
}
.notice-action-all {
  float: right;
  padding-right: 12px;
}

.gray-min-btn {
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  background-color: #f3f3f3;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  display: block;
  color: #333333;
}
.btn-check {
  padding: 0;
  margin: 0;
}

table.notice-list {
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  margin-top: 5px;
  vertical-align: middle;
}
tr.notice-row td {
  border-bottom: 1px dotted #b2b2b2;
  padding: 20px 0;
}
tr.notice-row-last td {
  border-bottom: none;
}
.notice-row-account {
  width: 40px;
  padding-left: 20px;
  display: block;
}
.notice-row-content {
  width: 600px;
  padding-right: 20px;
  margin-left: 10px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.notice-row-content-open {
  height: auto;
}
.notice-row-content b {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 7px;
  background: url(../image/icon/notice-down-arrow.png) no-repeat 100% 50%;
  cursor: pointer;
}
.notice-row-content-open b {
  background: url(../image/icon/notice-up-arrow.png) no-repeat 100% 50%;
}
.notice-row-time {
  width: 185px;
  text-align: center;
}
.notice-row-del {
  width: 40px;
}
.notice-row-del a {
  display: block;
}
.notice-row-checkbox {
  width: 12px;
  padding-right: 20px;
}
.notice-row-check {
}