.time-line {
  width: 900px;
}

.drag-left, .drag-right {
  width: 30px;
  height: 115px;
  float: left;
  cursor: pointer;
  display: block;
}
.drag-left {
  background: url(../image/time-line/left-btn.png) no-repeat 50% 20px;
}
.drag-right {
  background: url(../image/time-line/right-btn.png) no-repeat 50% 20px;
}

.time-line-box {
  float: left;
  width: 840px;
  height: 115px;
  background: url(../image/time-line/line.png) repeat-x 50% 22px;
  position: relative;
  overflow: hidden;
}
.time-line-inner {
  width: 10000px;
  position: absolute;
  top: 20px;
  left: 0;
}

.time-line-item {
  background: #ffffff url(../image/time-line/dot.png) no-repeat 50% 50%;
  width: 17px;
  height: 20px;
  position: relative;
  overflow: visible;
  float: left;
}
.time-line-first {
  margin-left: 50px;
}
.time-line-location {
  background: #ffffff url(../image/time-line/location.png) no-repeat 50% 50%;
  width: 17px;
  height: 20px;
}

.time-line-name {
  position: absolute;
  width: 160px;
  top: -20px;
  left: -71px;
  text-align: center;
}

.time-line-circle, .time-line-current, .time-line-action {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: -9px;
  cursor: pointer;
  overflow: visible;
}
.time-line-circle {
  background: url(../image/time-line/circle-default.png) no-repeat 50% 50%;
}
.time-line-current {
  background: url(../image/time-line/circle-current.png) no-repeat 50% 50%;
}
.time-line-del {
  background: url(../image/time-line/del.png) no-repeat 50% 50%;
  width: 13px;
  height: 13px;
  position: absolute;
  right: -2px;
  top: -2px;
  display: none;
}
.time-line-circle:hover, .time-line-current:hover {
  background: url(../image/time-line/circle-action.png) no-repeat 50% 50%;
  color: #ffffff;
}
.time-line-circle:hover .time-line-del,
.time-line-current:hover .time-line-del {
  display: block;
}

.time-line-add {
  background: none;
  width: 160px;
  height: 20px;
  float: left;
  position: relative;
  overflow: visible;
  cursor: pointer;
}
.time-line-add-content {
  background: url(../image/time-line/add-content.png) no-repeat 50% 50%;
  width: 22px;
  height: 75px;
  position: absolute;
  top: 20px;
  left: 69px;
  display: none;
}

.time-line-add:hover {
  background: url(../image/time-line/add.png) no-repeat 50% 5px;
}
.time-line-add:hover .time-line-add-content {
  display: block;
}