extends layout/layout

block content
  link(rel='stylesheet', href='public/vendor/selectize.js/selectize.css')
  link(rel='stylesheet', href='public/css/cool-tag.css')
  .wrap
    .wrap-inner.mt20
      .cool-tag-wrap
        input#travel-tags(style='width:100%;', type='text')
  script(src='public/vendor/selectize.js/selectize.js')
  script(src='public/js/cool-tag.js')
  script.
    $(function() {
      $('#travel-tags').selectize({
          delimiter: ' ',
          persist: false,
          maxItems: 10,
          create: function(input) {
            return {
              value: input
            };
          },
          render: {
            item: function(item, escape) {
              return '<div class="cool-tag clearfix">' +
                '<div class="cool-tag-left"></div>' +
                '<div class="cool-tag-middle">' +
                  '<div class="cool-tag-del">' +
                    item.value +
                  '</div>' +
                '</div>' +
                '<div class="cool-tag-right"></div>' +
              '</div>';
            }
          }
      });
    });