extends layout/layout

block content
  link(rel='stylesheet', href='public/vendor/selectize.js/dist/css/selectize.css')
  link(rel='stylesheet', href='public/css/cool-tag.css')
  .wrap
    .wrap-inner
      .mt20
        #travel-tag.cool-tag-wrap
          input.selectized(type='text')
          .cool-tag-for.clearfix
            .cool-tag-for-table 常用标签：
            .cool-tag-for-content.clearfix
      .mt20
        #line-tag.cool-tag-wrap
          input.selectized(type='text')
          .cool-tag-for.clearfix
            .cool-tag-for-table 常用标签：
            .cool-tag-for-content.clearfix
  script(src='public/vendor/selectize.js/dist/js/standalone/selectize.js')
  script(src='public/js/cool-tag.js')
  script.
    $(function() {
      (new CoolTag()).init({
        find: '#travel-tag',
        normalTags: '人文 自然 海岛 度假 艺术 摄影 博物馆 历史遗迹',
        selTags: '人文 自然 历史'
      });

      (new CoolTag()).init({
        find: '#line-tag',
        normalTags: '自驾游 亲子游 蜜月游',
        selTags: '自驾游'
      });
    });