extends layout/layout

block content
  link(rel='stylesheet', href='public/css/notice.css')
  .wrap
    .wrap-inner
      .notice-top.clearfix
        .notice-title 通知
          em （共15条）
        .notice-action-all.clearfix
          a.gray-min-btn.left(href='javascript:{}') 删除
          .left.ml10.gray-min-btn
            label 全选
              input.btn-check(type='checkbox')
      table.notice-list
        tbody
          - for(var i = 0; i < 10; i++)
            - var cls = 'notice-row'
            - cls += i == 9 ? ' notice-row-last' : ''
            tr(class=cls)
              td
                img.notice-row-account.account-tip(src='public/image/demo/account-40.png')
              td
                .notice-row-content 在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游在我的【手记】2013新年欧洲6国19日游
                  b
              td
                .notice-row-time 26 秒前
              td
                .notice-row-del
                  a(href='javascript:{}') 删除
              td
                .notice-row-checkbox
                  input.notice-row-check(type='checkbox')
      .p10
        include include/pager
  #tip-template.none
    .account-tip
      .account-tip-content.clearfix
        img.account-tip-image(src='public/image/demo/account-40.png')
        .account-tip-info
          .account-tip-title
            a(href='javascript:{}') 与温暖终年不遇g
            |&nbsp;-&nbsp;女神
          a.account-tip-focus(href='javascript:{}') 关注
      .account-tip-footer.clearfix
        a(href='javascript:{}') 个人手记
        a(href='javascript:{}') 装备秀
        a(href='javascript:{}') 旅行相册
        a(href='javascript:{}') 忠告
        a(href='javascript:{}') 美食
        a.account-tip-footer-link-last(href='javascript:{}') ...
  script.
    $(function() {
      $('.account-tip').tooltipster({
        interactive: true,
        theme: '.tooltipster-shadow',
        position: 'bottom-left',
        content: $('#tip-template').html()
      });

      //展开 or 收缩 通知内容
      $('.notice-row-content b').click(function() {
        $(this).parent().toggleClass('notice-row-content-open');
      });
    });