extends layout/layout

block content
  link(rel='stylesheet', href='public/css/time-line.css')
  .wrap
    .wrap-inner
      .time-line.clearfix
        .drag-left
        .time-line-box
          .time-line-inner.clearfix
            - var names = ['北京','阿维尼翁','尼斯','普罗旺斯','马赛','北京']
            - for (var i = 0; i < names.length; i++)
              - var localCls = i == 0 ? 'time-line-location time-line-first' : ''
              - var curCls = i == 0 ? 'time-line-current' : ''
              .time-line-item(class=localCls)
                .time-line-name #{names[i]}
                .time-line-circle(class=curCls) 10.0#{i}
                  .time-line-del
              - if ( i + 1 < names.length)
                .time-line-add
                  .time-line-add-content
        .drag-right
      .mt20
        h1 timeLine使用说明
        h2 公共方法
        h3 init(config)
        p 用于初始化时间轴 传递参数config
        h4 config
        .ml10
          h5 afterInsertDay
          h5 afterSetCurDay
          h5 afterDelDay
        h3 setCityName
        p 当修改了某一天的城市名称后，修改时间轴对应点的名称
  script(src='public/js/time-line.js')
  script.
    $(function() {
      timeLine.init();
    });