doctype 5
html
  head
    meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    link(rel='stylesheet', href='public/css/common.css')
    link(rel='stylesheet', href='public/css/pager.css')
    link(rel='stylesheet', href='public/css/account-tip.css')
    link(rel='stylesheet', href='public/vendor/tooltipster/css/tooltipster.css')
    link(rel='stylesheet', href='public/vendor/tooltipster/css/themes/tooltipster-shadow.css')
    script(src='public/js/jquery-1.10.1.min.js')
    script(src='public/vendor/tooltipster/js/jquery.tooltipster.js')
  body
    block content