doctype 5
html
  head
    meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    link(rel='stylesheet', href='public/css/common.css')
    link(rel='stylesheet', href='public/vendor/tooltipster/css/tooltipster.css')
    link(rel='stylesheet', href='public/vendor/tooltipster/css/themes/tooltipster-shadow.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='public/vendor/tooltipster/js/jquery.tooltipster.js')
  body
    block content